<% layout("layouts/boilerplate") %>

    <h1>Create Your Campground</h1>

    <form action="/campground" method="POST">
        <div>
            <label for="title">Enter Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <br>
        <div>
            <label for="location">Enter Location:</label>
            <input type="text" name="location" id="location">
        </div>

        <button>Create!</button>
    </form>

    <a href="/campground">Home</a>